<$- include('./_partials/head') $>   
    

    <h2>About</h2>

    <h4>Lending money is easy, keeping track is not.</h4>
    <img class="homepage" src="images/about_temp.jpg" alt="about payup">



<$- include('./_partials/footer') $> 