<$- include('./_partials/head') $>   
	<div class="container">    
    <h2 class="new-trans">About</h2>
			<h4>Lending money is easy, keeping track is not. Constant nagging is never a fun task for anyone. Luckily, we provide a simple and light-hearted process of requesting money from your family and friends!</h4>
			<img class="homepage img-responsive" src="http://i.imgur.com/reMefwt.png" title="payup iphone sms screenshot" /></a>
	</div>
<$- include('./_partials/footer') $>