
<$- include('./_partials/head') $> 
  <div class="container footer-fix">
    <div class="footer-fix-content">
      <h2 class="new-trans">Contact Us</h2>
      <h3>For any inquiries, please email us at <a href="mailto:l.wang32@gmail.com">hello@payup.com</a></h3>
      <h3>Thank you!</h3>
      </div>
  </div>
<$- include('./_partials/footer') $> 