<$- include('./_partials/head') $>
  <div class="container footer-fix">
    <div class="footer-fix-content">   
      <h2 class="new-trans">Keep track of who owes you money 
      and send them friendly reminders through SMS</h2>
      <img class="homepage img-responsive" src="http://i.imgur.com/Lxg7gcv.png" alt="payup process">
    </div>
  </div>
<$- include('./_partials/footer') $> 



