<$- include('./_partials/head') $>    
  <h1>Use PayUp to log who owes you money. <br>Fun and Simple to use.</h1>
  <img class="homepage img-responsive" src="images/payup_homepage.png" alt="payup process">

<$- include('./_partials/footer') $> 


