body {
  padding: 70px;
}

h1 {
  padding: 30px;
  text-align: center;
  font-size: 40px;
  font-family: 'Exo', sans-serif;
  line-height: 130%;
}

h2, h3 {
  font-family: 'Exo', sans-serif;
  padding: 30px;
  text-align: center;
  font-size: 45px;
}

h4 {
  text-align: center;
  font-family: 'Exo', sans-serif;
  color: green;
}


.navbar {
  height: 10px;
}

.navlinks {
  color: #00a5c6;
  padding: 7px;
  position: relative;
  top: 16px;
  right: 45px;
  font-size: 20px;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
}

.navlinks:hover {
    color: green;
    text-decoration: none;
}

nav.navbar-fixed-top {
  height: 75px;
  background-color: #E2F8FF;
}

img {
  position: relative;
  top: -3px;
  left: 10px;
}

.logo {
  position: relative;
  left: 12px;
  height: 50px;
}

footer.navbar-fixed-bottom {
  text-align: center;
  padding: 1.5rem;
  background-color: lightgrey;
  
}

.container-fluid {
  color: black;
}

img.homepage {
  height: 500px;
  /*position: relative;
  top: 15px;
  left: 335px;*/
  /*margin-bottom: 80px;*/
  margin: 0 auto;
}

.form-area {
	padding: 10px 40px 60px;
	margin: 10px 0px 60px; 
  position: relative;
  top: -20px;
  left: 330px;
}

img.google {
  margin-right: 17px;
  height: 40px;
}

/* .add-trans {
  margin-left: 20px;
} */



 