
h1 {
  padding: 30px;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 500;
  line-height: 130%;
}

h2, h3 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  padding: 30px;
  text-align: center;
}

h4, p {
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
}

.icon-bar {
  background: black;
}

.navlinks {
  color: #00a5c6;
  padding: 7px;
  text-align: right;
  font-size: 20px;
  font-family: 'Yantramanav', sans-serif;
  text-decoration: none;
}

.navlinks:hover {
  background-color: #E2F8FF !important;
}

.navbar-collapse {
  background-color: #E2F8FF;
  margin-top: 25px;
}

nav {
  height: 75px;
  background-color: #E2F8FF;
}

.logo {
  height: 50px;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: lightgrey;
  
}

img.homepage {
  height: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.img {
  display: block;
  margin: auto;
}

.form-area {
	padding: 10px 40px 60px;
	margin: 10px 0px 60px; 
  position: relative;
  top: -20px;
  left: 330px;
}

.footer-fix {
  display: flex;
  min-height: calc(100vh - 145px);
  flex-direction: column;
}

.footer-fix-content {
  flex: 1;
}

.gray-background {
  background-color: lightgray;
}