<!DOCTYPE html>
<html>
    <head>
    
    <title>Pay Up</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,500,700,900" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    </head>
  
    <body>
      
    <nav class="navbar navbar-fixed-top">
      <a class="logo navlinks" href="/"><img class="logo" src="/images/transparent_payuplogo.png" alt="PayUp logo"></a>

        <ul class="nav navbar-nav navbar-right">
          <a class="navlinks" href="/">Home</a>
          <a class="navlinks" href="/about">About</a>
          <a class="navlinks" href="/contact">Contact</a>

            <$ if (user) { $>
              <a class="navlinks" href="/logout"><i class="material-icons left"></i><img src="images/btn_google_signout_dark_focus_web.png" alt="oauth google sign-out button"></a>
              <$ } else { $>
              <a class="navlinks" href="/auth/google"><i class="material-icons left"></i><img src="images/btn_google_signin_dark_focus_web.png" alt="oauth google sign-in button"></a>
            <$ } $>
        </ul>
    </nav>


