<$- include('./../_partials/head') $>
<br>
<br>
<br>
<br>
<div>
  <$ if (userDetail.avatar) { $>
    <img src="<$= userDetail.avatar $>" alt="" class="circle responsive-img">
  <$ } else { $>
    <i class="small material-icons">perm_identity</i>
    <$ } $>
</div>

<a class="add-trans btn btn-primary" href="/transactions/new">Add Transaction</a>
<br>
<br>
<br>

<$= userDetail.name $>
<$= userDetail.email $><br>
<$ var sumAmount = 0 $> 
<$= transactions.forEach(function(transaction){
  sumAmount += transaction.amount;
})$>
<p>Total Balance: <$= sumAmount $></p>

<div class="list-group">
  <$ transactions.forEach(function(transaction){ $>
    <li class="list-group-item"><$= transaction.date $></li>
    <li class="list-group-item"><$= transaction.name $></li>
    <li class="list-group-item"><$= transaction.description $></li>
    <li class="list-group-item"><$= transaction.amount $></li>
    <li class="list-group-item"><$= transaction.amountPaid $></li>   
    <li class="list-group-item"><$= transaction.phone $></li>
</div>   

  <div class="trans-buttons">
    <a class="btn btn-default" href="/transactions/<$= transaction.id $>">View</a>
    <a class="btn btn-default" href="/transactions/<$= transaction.id $>/edit">Edit</a> 
    <a class="btn btn-default" href="#">Send SMS</a>
  </div>
    


    <form method="POST" action="/transactions/<$= transaction.id $>?_method=DELETE">
      <input class="btn btn-danger" type="hidden" name="_method" value="delete"/>
      <input class="btn btn-danger" type="submit" name="transactionId" value="Delete">
    </form>
  </div>     
<br>
<$ }) $> 
 

<br>
<br>
<!--<$= userDetail.transactions $>-->
<$- include('./../_partials/footer') $>