<$- include('./../_partials/head') $>
<br>
<br>

<h2 class="new-trans">New Transaction</h2>
 
  <form action="/transactions" method="post">
  
    <div class="input-group date" id="datetimepicker1">
      <label>Date:
        <input type="text" class="form-control" name="date">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </label>
    </div>

    <label>Name:
      <input type="text" name="name">
    </label><br>
    <label>Description:
      <input type="text" name="description">
    </label>
    <label>Amount:
      <input type="text" name="amount">
    </label><br>
    <label>Phone:
      <input type="text" name="phone">
    </label><br><br>

    <input class="new-trans btn btn-default" type="submit" value="Add Transaction">

  </form>

  <script type="text/javascript">
    $(function() {
      $('#datetimepicker1').datetimepicker();
    });
    </script>


<$- include('./../_partials/footer') $>