<$- include('./../_partials/head') $>
	<div class="container">
		<h2></h2>
			<form class="col-xs-12" action="/users" method="get">
				<input class="new-trans btn btn-default" type="submit" value="Back to All Transactions"></input>
			</form>
			<$ var sumAmount = 0 $> 
			<$= transaction.payments.forEach(function(payment){
			sumAmount += payment.amount;
			}) $>
			<div class="pull-right">Remaining Balance Due: $<$= (transaction.amount - sumAmount).toFixed(2) $></div>
				<table class="table">
					<tr>
						<th>Date</th>
						<th>Name</th>
						<th>Description</th>
						<th>Amount</th>
						<th>Phone</th>
					</tr>
					<tr>
						<td><$= transaction.date.getMonth() $>/<$= transaction.date.getDate() $>/<$= transaction.date.getFullYear() $></td>
						<td><$= transaction.name $></td>
						<td><$= transaction.description $></td>
						<td>$<$= (transaction.amount).toFixed(2) $></td>
						<td><$= transaction.phone $></td>
					</tr>
				</table>
				<h2 class="new-trans">Partial Payments</h2>
					<form class="col-xs-4" action="/transactions/<$= transaction.id $>/payments" method="post">
						<div class="form-group">
							<label>Date:</label>
							<div class="input-group date" id="datetimepicker1">
								<input type="text" class="form-control" name="date" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
							</div>
						</div>
						<div class="form-group">
							<label>Amount</label>
							<input type="text" class="form-control" name="amount">
						</div>
							<input type="hidden" name="_method" value="put"/>
							<button class="btn btn-default" type="submit" name="paymentId">Add Payment</button>
						<div>
						<br>
						</div>
					</form>
					<table class="table">
						<tr>
							<th>Date</th>
							<th>Amount Paid</th>
							<th colspan="2"></th>
						</tr>
						<tr>  
							<$ transaction.payments.forEach(function(payment){ $>
								<td><$= payment.date.getMonth() $>/<$= payment.date.getDate() $>/<$= payment.date.getFullYear() $></td>
								<td>$<$= (payment.amount).toFixed(2) $></td>
								<td><a class="btn btn-default" href="/transactions/<$= transaction.id $>/<$= payment.id $>/edit">Edit</a></td>
						</tr> 
						<$ }) $> 
					</table>
					<script type="text/javascript">
						$(function() {
							$('#datetimepicker1').datetimepicker({
						format: 'L'
					});
						});
					</script>
					<br>
	</div>
<$- include('./../_partials/footer') $> 